<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.keepingmeontrack">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_notext"
        android:label="KMOT"
        android:roundIcon="@drawable/ic_logo_notext"
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".swipeanimation.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinanceDebitAdd"
            android:label="Add Debit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinanceGoalAdd"
            android:label="Add Finance Goal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinanceGoalDetail"
            android:screenOrientation="portrait"
            android:label="Finance Goal Detail"
            android:theme="@style/GoalDetail" />
        <activity
            android:name=".UserNetwork"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FitnesGoalAddActivity"
            android:theme="@style/FitnessAdd"
            android:screenOrientation="portrait"
            android:label="Fitnes Goal Add"/>
        <activity
            android:name=".FitnessDetailActivity"
            android:theme="@style/FitnesDetail"
            android:screenOrientation="portrait"
            android:label="Fitness Goal Detail"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBi79vaDkhMMZrP7OiN7D4vnqwwrQZ1rE8"></meta-data>
    </application>

</manifest>