<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.keepingmeontrack">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_notext"
        android:label="KMOT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".swipeanimation.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinanceDebitAdd"
            android:label="Add Debit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinanceGoalAdd"
            android:label="Add Finance Goal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinanceGoalDetail"
            android:screenOrientation="portrait"
            android:theme="@style/GoalDetail" />
        <activity
            android:name=".UserNetwork"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FitnesGoalAddActivity"
            android:theme="@style/GoalDetail" />
        <activity
            android:name=".FitnessDetailActivity"
            android:theme="@style/GoalDetail" />
        <activity android:name=".FoodCaloriActivity"
            android:theme="@style/foodCalori"/>
        <activity android:name=".FitnessCaloriActivity"
            android:theme="@style/foodCalori"></activity>
    </application>

</manifest>