<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.keepingmeontrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".swipeanimation.IntroActivity"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".FinanceDebitAdd"
            android:label="FinanceDebitAdd"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".FinanceGoalAdd"
            android:theme="@style/GoalAdd"/>
        <activity android:name=".FinanceGoalDetail"
            android:theme="@style/GoalDetail">

        </activity>
    </application>

</manifest>